__pycache__/
.DS_Store
.ipynb_checkpoints
.ds
surrogate/data/*
surrogate/temp/*
*.ckpt
*.log
lightning_logs/*
pLSNN/*
wandb/*
surrogate/lightning_logs/*
surrogate/pLSNN/*
surrogate/wandb/*
surrogate/.temp/*
