httpx==0.28.1
jaraco.context==6.0.1
types-python-dateutil==2.9.0.20250708
Werkzeug==3.1.3
networkx==3.5
webcolors==24.11.1
ipython==9.5.0
jupyter_core==5.8.1
tornado==6.5.1
autocommand==2.2.2
matplotlib==3.10.5
annotated-types==0.7.0
babel==2.17.0
packaging==25.0
parso==0.8.4
wandb==0.21.4
jaraco.text==4.0.0
pycares==4.9.0
python-dateutil==2.9.0.post0
Pygments==2.19.2
httpcore==1.0.9
typeguard==4.4.4
argon2-cffi==25.1.0
seaborn==0.13.2
jupyter-lsp==2.2.6
nbconvert==7.16.6
docker-pycreds==0.4.0
notebook_shim==0.2.4
smmap==6.0.0
jsonschema==4.25.0
jupyter-events==0.12.0
argon2-cffi-bindings==25.1.0
pandas==2.3.1
aiohttp==3.12.15
jaraco.functools==4.2.1
decorator==5.2.1
polars==1.31.0
nbclient==0.10.2
gitdb==4.0.12
jaraco.collections==5.2.1
fqdn==1.5.1
asttokens==3.0.0
pure_eval==0.2.3
overrides==7.7.0
aiosignal==1.4.0
executing==2.2.0
pyzmq==27.0.1
jsonschema-specifications==2025.4.1
anyio==4.10.0
cffi==1.17.1
sympy==1.14.0
prompt_toolkit==3.0.52
aiohappyeyeballs==2.6.1
jedi==0.19.2
looseversion==1.3.0
webencodings==0.5.1
frozenlist==1.7.0
more-itertools==10.7.0
jupyter_server==2.16.0
lightning==2.5.5
comm==0.2.3
jsonpath-ng==1.7.0
jaraco.classes==3.4.0
torch==2.8.0
ipython_pygments_lexers==1.1.1
jupyterlab_pygments==0.3.0
requests==2.32.5
toml==0.10.2
distutils==80.9.0
sniffio==1.3.1
PyYAML==6.0.2
grpcio==1.75.0
click==8.1.8
nbformat==5.10.4
uri-template==1.3.0
contourpy==1.3.3
pexpect==4.9.0
propcache==0.3.2
tensorboard==2.20.0
GitPython==3.1.45
fonttools==4.59.0
pycparser==2.22
pandocfilters==1.5.1
ipywidgets==8.1.7
triton==3.4.0
multidict==6.6.4
rpds-py==0.25.0
tomlkit==0.13.3
json5==0.12.0
prometheus_client==0.22.1
cycler==0.12.1
pyparsing==3.2.3
filelock==3.18.0
Jinja2==3.1.6
Markdown==3.9
jsonargparse==4.41.0
mpmath==1.3.0
pytorch-lightning==2.5.5
kiwisolver==1.4.8
jsonpointer==3.0.0
pytz==2025.2
defusedxml==0.8.0rc2
regex==2025.7.34
typing-inspection==0.4.1
aiodns==3.5.0
wheel==0.46.1
charset-normalizer==3.4.3
async-timeout==5.0.1
attrs==25.3.0
jupyter_client==8.6.3
jupyterlab_server==2.27.3
tensorboard-data-server==0.7.2
setuptools==80.9.0.post0
pillow==11.3.0
rfc3986_validator==0.1.1
sentry-sdk==2.39.0
setproctitle==1.3.6
hypothesis==6.136.9
absl-py==2.3.1
numpy==2.3.2
isoduration==20.11.0
matplotlib-inline==0.1.7
tkinter==3.12.11
ninja==1.13.1
urllib3==2.5.0
jupyterlab_widgets==3.0.15
async-lru==2.0.5
expecttest==0.2.1
referencing==0.36.2
fastjsonschema==2.21.1
widgetsnbextension==4.0.14
rfc3987-syntax==1.1.0
fsspec==2025.3.2
lightning-utilities==0.15.2
Send2Trash==1.8.3
six==1.17.0
html5lib==1.1
ddt==1.7.2
wcwidth==0.2.13
platformdirs==4.3.8
astunparse==1.6.3
yarl==1.20.1
sortedcontainers==2.4.0
websocket-client==1.8.0
MarkupSafe==3.0.2
psutil==7.0.0
mistune==3.1.4
tzdata==2025.2
inflect==7.5.0
h11==0.16.0
idna==3.10
typing_extensions==4.14.1
jupyter_server_terminals==0.5.3
soupsieve==2.7
snntorch==0.9.4
nest_asyncio==1.6.0
bleach==6.2.0
arrow==1.3.0
certifi==2025.7.14
rfc3339_validator==0.1.4
pydantic==2.11.7
protobuf==6.32.1
Brotli==1.1.0
types-dataclasses==0.6.6
beautifulsoup4==4.13.4
torchmetrics==1.8.2
jupyterlab==4.4.5
ipykernel==6.30.1
tqdm==4.67.1
stack_data==0.6.3
terminado==0.18.1
traitlets==5.14.3
pydantic_core==2.33.2
ptyprocess==0.7.0
pybind11==3.0.1
ply==3.11
tinycss2==1.4.0
python-json-logger==3.3.0
lark==1.2.2
jaraco.functools==4.0.1
autocommand==2.2.2
platformdirs==4.2.2
packaging==24.2
jaraco.collections==5.1.0
jaraco.context==5.3.0
more-itertools==10.3.0
wheel==0.45.1
importlib_metadata==8.0.0
typeguard==4.3.0
typing_extensions==4.12.2
tomli==2.0.1
inflect==7.3.1
backports.tarfile==1.2.0
jaraco.text==3.12.1
zipp==3.19.2
